
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tìm Hướng Dẫn Viên &mdash;Trang Web Tìm Hướng Dẫn Viên Hàng Đầu Thế Giới</title>
    <meta name="description" content="Tìm Hướng Dẫn Viên">

    <meta name="keywords" content="Trang Web Tìm Hướng Dẫn Viên Hàng Đầu Thế Giới">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/css/styles-merged.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link rel="stylesheet" href="/Assets/css/vendor/bootstrap.min.css">
    <link href="~/Assets/css/vendor/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/fontawesome-free-5.5.0-web/Assets/css/all.css">
    @RenderSection("my_css", required: false)
    <link rel="stylesheet" href="/Assets/css/custom.css">
    <!--[if lt IE 9]>
      <script src="Assets/js/vendor/html5shiv.min.js"></script>
      <script src="Assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <!-- START: header -->

    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
        <div class="container">
            <a href="index.html" class="probootstrap-logo">Bao_Le<span>.</span></a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i></i></a>
            <div class="mobile-menu-overlay"></div>

            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul style="float: left;" class="animated fadeInLeft probootstrap-main-nav">
                    <li class="active"><a href="index.html">Trang chủ</a></li>
                    <li><a href="properties.html">Đặt Xe</a></li>
                    <li><a href="agents.html">Lịch Trình</a></li>
                    <li><a href="about.html">Thông Tin</a></li>
                    @{
                        if (Session["Account"] != null)
                        {
                            string[] user = (string[])Session["Account"];
                            var avata = String.IsNullOrEmpty(user[4]) ? "Avatar_user.png" : user[4];
                            <div class="btn-group my-group">
                                <li class="li_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <a>@user[1]</a><img src="~/Assets/img/@avata" class="img-circle avatar_user" alt="user name">
                                </li>
                                <ul class="dropdown-menu  dropdown-menu-left user-dropdown">

                                    <li><a href="#"><span class="icon-user"></span>@user[1]</a></li>
                                    <li><a href="#"><span class="icon-calendar"></span> My Calendar</a></li>

                                    <li class="more">
                                        <ul>
                                            <li><a href=""><span class="icon-cogs"></span></a></li>
                                            <li><a href="/Account/LogOut"><span class="icon-lock"></span></a></li>
                                            <li><a href=""><span class="icon-power-cord"></span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <li><a href="/Account/signUp">Đăng Kí</a></li>
                            <li><a href="/Account/LogIn">Đăng Nhập</a></li>

                        }
                    }
                </ul>
                <div id="google_translate_element"></div>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i></i></a>
                    <h5>Địa Chỉ</h5>
                    <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                    <h5>Liên Lạc</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>

        </div>
        <!-- Đăng nhập -->




    </header>


    <!-- END: header -->
    @RenderBody()
    <footer class="probootstrap-footer probootstrap-bg" style="background-image: url(Assets/img/slider_3.jpg)">
        <div class="container">
            <div class="row mb60">
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">About Haus.</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <p><a href="#">Read more...</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget probootstrap-link-wrap">
                        <h4 class="heading">Quick Links</h4>
                        <ul class="stack-link">
                            <li><a href="#">Property Listing</a></li>
                            <li><a href="#">Rent Properties</a></li>
                            <li><a href="#">Sell Properties</a></li>
                            <li><a href="#">Agents</a></li>
                            <li><a href="#">Testimonial</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">Popular Cities</h4>
                        <ul class="stack-link">
                            <li><a href="#">New York </i><small>(320 properties)</small></a></li>
                            <li><a href="#">San Francisco <small>(294 properties)</small></a></li>
                            <li><a href="#">Brooklyn <small>(300 properties)</small></a></li>
                            <li><a href="#">Chicago <small>(268 properties)</small></a></li>
                            <li><a href="#">Los Angeles <small>(342 properties)</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget probootstrap-link-wrap">
                        <h4 class="heading">Subscribe</h4>
                        <p>Far far away behind the word mountains far from.</p>
                        <form action="#">
                            <div class="form-field">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <button class="btn btn-subscribe">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget">
                        <p>&copy; 2017 <a href="#">WebFindGuide</a>. Designed by <a href="#">Development Bảo Lê</a> <br> Demo Photos from <a href="https://pixabay.com/">Pixabay</a> &amp; <a href="https://unsplash.com/">Unsplash</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget right">
                        <ul class="probootstrap-footer-social">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-instagram2"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>

    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/jquery.ui.min.js"></script>

    <script src="/Assets/js/plugins/moment.min.js"></script>
    @RenderSection("my_script", required: false)


    <script src="/Assets/js/scripts.min.js"></script>
    <script src="/Assets/js/popper.min.js"></script>
    <script src="/Assets/js/main.js"></script>
    <script src="/Assets/js/custom.js"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'vn', autoDisplay: false, layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            function changeGoogleStyles() {
                if ($('.goog-te-menu-frame').contents().find('.goog-te-menu2').length) {
                    $('.goog-te-menu-frame').contents().find('.goog-te-menu2').css({
                        'max-width': '100%',
                        'overflow': 'auto',
                        'box-sizing': 'border-box',
                        'height': 'auto'
                    });
                } else {
                    setTimeout(changeGoogleStyles, 50);
                }
            }
            changeGoogleStyles();
        }
    </script>


    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>
